* {
    box-sizing: border-box;
}

body {
  background: #27343F;
  font-family: sans-serif;
}

#mainCanvas {
  background: #fff;
	display: block;
	margin: 50px auto 10px;
	border-radius: 15px;
	box-shadow: 0 10px 0 0 #222,
              inset 0 0 15px 0 #BABABA;
  cursor: crosshair;
}

.controls {
  min-height: 60px;
	margin: 0 auto;
	width: 70vw;
  text-align: center;
}

.color{
  display: inline-block;
  height: 54px;
  width: 54px;
  margin: 1% 0;
  border-radius: 10px;
  box-shadow: 0 5px 0 0 #222,
              inset 0 0 5px 0 #BABABA;
  cursor: pointer;
  transition: .2s cubic-bezier(.36,-0.38,.6,1.34);
}

.color:active {
  transform: scale(.8);
  box-shadow: 0 2px 0 0 #222,
              inset 0 0 10px 0 #BABABA;
}

.color + .color {
  margin-left: 2%;
}

.red {
	background: #fc4c4f;
}

.blue {
	background: #4fa3fc;
}

.yellow {
	background: #ECD13F;
}

/* Add color button */
.addColor {

  background: white;
  position: relative;
}

/* add sign */
.addColor::after {
  background: rgba(0, 0, 0, 0.5);
  content: "";
  height: 5px;
  left: 10%;
  position: absolute;
  top: 45%;
  width: 80%;
  border-radius: 3px;
}
.addColor::before {
  background: rgba(0, 0, 0, 0.5);
  content: "";
  width: 5px;
  left: 46%;
  position: absolute;
  top: 10%;
  height: 80%;
  border-radius: 3px;
}

.selected {
  border: 5px solid #fff;
}

/*sliders group style*/
#colorSelect {
  background: #fff;
	border-radius: 10px;
	padding: 10px;
	width: 250px;
	position: relative;;
  margin: 0 auto;
  box-shadow: 0 8px 0 0 #222,
              inset 0 0 15px 0 #BABABA;
  display: none;
}

/*#colorSelect:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #BABABA;
	border-width: 10px;
	margin-left: -10px;
}*/

.sliders input {
	position: relative;
	top: 2px;
}

.button {
  background: #27343F;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 1.3em;
  border-radius: 10px;
	box-shadow: 0 3px 0 0 #222,
              inset 0 0 15px 0 #BABABA;
  cursor: pointer;
  transition: .2s cubic-bezier(.36,-0.38,.6,1.34);;
}

.button:active {
  transform: translateY(2px);
  background: #000;
  color: #fff;
  border: none;
  box-shadow: 0 1px 0 0 #222,
              inset 0 0 15px 0 #222;
}

/*#saveImage {
  margin-top: 5%;
}*/
